:root {
    --clr-strong-cyan: hsl(172, 67%, 45%);
    ---clr-dark-cyan: hsl(183, 100%, 15%);
    --clr-dark-grey-cyan: hsl(186, 14%, 43%);
    --clr-gray-cyan: hsl(184, 14%, 56%);
    --clr-light-gray-cyan: hsl(185, 41%, 84%);
    --clr-sup-light-gray-cyan: hsl(189, 41%, 97%);
    --clr-white: hsl(0, 0%, 100%);
    --clr-warning: #cb9787;
    --fz-300: 1.5rem;
}

@font-face {
    font-family: 'Space Mono Sans-serif';
    src: url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap')
        format('truetype');
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
    font-family: 'Space Mono', monospace;
    font-size: var(--fz-300);
}

ul[role='list'],
ol[role='list'] {
    list-style: none;
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    background-color: var(--clr-light-gray-cyan);
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img,
picture {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

h2 {
    color: var(--clr-gray-cyan);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.wrapper {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 2rem;
    width: 50%;
    margin: auto;
    border-radius: 1rem;
    background-color: var(--clr-white);
}

.wrapper::after {
    position: absolute;
    top: -10rem;
    right: 50%;
    letter-spacing: 1rem;
    transform: translateX(50%);
    display: block;
    white-space: pre;
    font-size: 2rem;
    color: var(--clr-dark-grey-cyan);
    font-weight: 600;
    content: 'SPLI \00000ATTER';
    clear: right;

}

.inputs {
    display: flex;
    padding-block: 1rem;
    gap: 3rem;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.input {
    min-width: 100%;
    padding-inline: 1rem;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    font-size: 2rem;
    background-color: var(--clr-sup-light-gray-cyan);
    color: var(---clr-dark-cyan);
    text-align: right;
}

.input::placeholder {
    color: var(--clr-light-gray-cyan);
}

.input-custom::placeholder {
    color: var(--clr-dark-grey-cyan);
    font-size: 1.5rem;
    text-align: center;
}

.border-primary:focus {
    outline: 2px solid var(--clr-strong-cyan);
}

.border-warning {
    outline: 2px solid var(--clr-warning);
}
.border-warning:focus {
    outline: 2px solid var(--clr-warning);
}

.icon-dollar:before {
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="15" height="16"><path fill="%239EBBBD" d="M6.016 16.328v-1.464c1.232-.08 2.22-.444 2.964-1.092.744-.648 1.116-1.508 1.116-2.58v-.144c0-.992-.348-1.772-1.044-2.34-.696-.568-1.708-.932-3.036-1.092V4.184c.56.144 1.012.4 1.356.768.344.368.516.816.516 1.344v.288h1.824v-.432c0-.448-.088-.876-.264-1.284a3.783 3.783 0 00-.744-1.116A4.251 4.251 0 007.54 2.9a5.324 5.324 0 00-1.524-.492V.872H4.288V2.36a5.532 5.532 0 00-1.416.324c-.448.168-.84.392-1.176.672-.336.28-.604.616-.804 1.008-.2.392-.3.844-.3 1.356v.144c0 .96.316 1.708.948 2.244.632.536 1.548.884 2.748 1.044v3.912c-.704-.16-1.248-.472-1.632-.936-.384-.464-.576-1.08-.576-1.848v-.288H.256v.576c0 .464.08.924.24 1.38.16.456.404.88.732 1.272.328.392.744.728 1.248 1.008s1.108.476 1.812.588v1.512h1.728zM4.288 7.424c-.688-.128-1.164-.332-1.428-.612-.264-.28-.396-.644-.396-1.092 0-.464.176-.832.528-1.104.352-.272.784-.448 1.296-.528v3.336zm1.728 5.712V9.344c.768.128 1.328.328 1.68.6.352.272.528.688.528 1.248 0 .544-.196.984-.588 1.32-.392.336-.932.544-1.62.624z"/></svg>')
        center / contain no-repeat;
}

.icon-person:before {
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="15" height="16"><path fill="%239EBBBD" d="M9.573 7.729c.406 0 .784.07 1.126.209.342.14.639.33.881.569.232.227.438.503.614.82a5.1 5.1 0 01.407.949c.097.312.178.654.242 1.016.062.359.105.699.126 1.011.02.307.031.624.031.945 0 .836-.259 1.512-.768 2.01-.504.492-1.17.742-1.98.742H2.748c-.81 0-1.477-.25-1.98-.742C.259 14.76 0 14.084 0 13.248c0-.322.01-.64.032-.945.02-.312.063-.652.126-1.01.063-.363.144-.705.242-1.017.1-.323.238-.643.407-.948.176-.318.382-.594.613-.821.243-.238.54-.43.882-.57.342-.138.72-.208 1.125-.208.16 0 .313.067.61.265.183.123.397.264.636.421.204.134.48.259.822.372.333.11.671.167 1.005.167a3.19 3.19 0 001.006-.167c.341-.113.618-.238.822-.372l.636-.42c.296-.2.45-.266.61-.266zM6.598 0C7.63 0 8.522.38 9.252 1.129s1.1 1.666 1.1 2.724c0 1.06-.37 1.976-1.1 2.725-.73.75-1.623 1.13-2.654 1.13-1.03 0-1.924-.38-2.653-1.13-.73-.749-1.1-1.666-1.1-2.725 0-1.058.37-1.975 1.1-2.724C4.675.379 5.567 0 6.598 0z"/></svg>')
        center / contain no-repeat;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}

.label-text {
    font-size: 1.1rem;
    color: var(--clr-gray-cyan);
    font-weight: 600;
}

.label-warning {
    color: var(--clr-warning);
}

label {
    position: relative;
}

label:before {
    content: '';
    position: absolute;
    left: 1rem;
    top: 0;
    bottom: 0;
    width: 20px;
}
.percents-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.btn {
    padding: 0.5rem 2rem;
    font-weight: 600;
    border-radius: 0.5rem;
    border: none;
}

.btn:hover {
    cursor: pointer;
}

.btn-completed {
    background-color: var(--clr-strong-cyan);
}

.btn-disabled {
    margin-top: auto;
    opacity: 0.1;
}

.btn-disabled:hover {
    background-color: var(--clr-light-gray-cyan);
}

.btn-reset {
    margin-top: auto;
    color: var(---clr-dark-cyan);
    background-color: var(--clr-strong-cyan);
}

.btn-reset:hover {
    background-color: var(--clr-light-gray-cyan);
}

.btn-selected {
    background-color: var(--clr-strong-cyan);
    color: var(---clr-dark-cyan);
}

.btn-percent {
    background-color: var(---clr-dark-cyan);
    color: var(--clr-white);
}

.btn-percent:hover {
    background-color: var(--clr-light-gray-cyan);
    color: var(---clr-dark-cyan);
}

.summary {
    display: flex;
    flex-direction: column;
    padding: 2rem 3rem;
    border-radius: 1rem;
    background-color: var(---clr-dark-cyan);
}

.summary-info {
    display: grid;
    margin-top: 3rem;
    gap: 0.5rem;
    line-height: 1;
}

.summary-info > *:nth-child(1) {
    grid-area: 1/1/2/2;
    font-size: 1.3rem;
    font-weight: 300;
    color: var(--clr-white);
}

.summary-info > *:nth-child(2) {
    font-size: 1rem;
    color: var(--clr-gray-cyan);
    grid-area: 2/1/3/2;
}

.summary-info > *:nth-child(3) {
    margin-left: auto;
    color: var(--clr-strong-cyan);
    font-size: 3rem;
    grid-area: 1/3/4/4;
}

.label-wrapper {
    display: flex;
    justify-content: space-between;
}
