:root {
    --strong-cyan: hsl(172, 67%, 45%);
    ---clr-dark-cyan: hsl(183, 100%, 15%);
    --clr-dark-grey-cyan: hsl(186, 14%, 43%);
    --clr-gray-cyan: hsl(184, 14%, 56%);
    --clr-light-gray-cyan:  hsl(185, 41%, 84%);
    --clr-sup-light-gray-cyan: hsl(189, 41%, 97%);
    --clr-white: hsl(0, 0%, 100%);
    --fz-300: 1.5rem;
}

@font-face {
    font-family: "Space Mono";
    src: url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap') format("truetype");
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
    font-family: 'Space Mono', monospace;
    font-size: var(--fz-300);
}

ul[role='list'],
ol[role='list'] {
    list-style: none;
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img,
picture {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}


@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

.wrapper {
    height: 100vh;
    display: flex;
    background-color: var(--clr-light-gray-cyan);
}

.container {
    width: 1440px;
}

